[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
user=edang
WorkingDirectory=/home/edang/sites/DOMAIN
EnvironmentFile=/home/edang/sites/DOMAIN/.env

ExecStart=/home/edang/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target